.button {
  border: 1px solid #ffa41b;
  color: #ffa41b;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  background: #fff;
}
.sucessful .button {
  background-color: #ffa41b;
  color: #fff;
}
.sucessful .button:hover {
  background-color: #ffa41b;
  color: #fff;
}
.opportunity a button {
  padding: 8px 16px;
  gap: 10px;
  border: none;
  color: #ffa41b;
  border:1px solid #ffa41b;
  background-color: #fff;
}
.opportunity a button:hover{
  background: #ffa41b;
  color:#fff;
}
.compensation {
  height: 298px;
  background-repeat: no-repeat;
  background-size: cover;
}
.compensation .content-box ul li,
.compensation .content-box p {
  color: #fff;
  list-style: disc;
  padding-bottom: 12px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.four-data-box {
  background-color: #ffa41b;
  padding: 50px 40px;
  color: #fff;
  height: 210px;
  border-radius: 4px;
}
.four-data-box p {
  color: #fff;
}
.icon-box {
  margin-bottom: -28px;
}
.icon-box img {
  margin: 0 auto;
}
.opportunity .text-center p.para {
  margin: 34px;
}

.opportunity .text-center p.explore {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #ffa41b;
}
.sucessful .container .row .steps-box:nth-of-type(1) {
  transform: translateX(2%);
}
.sucessful .container .row .steps-box:nth-of-type(2) {
  transform: translateX(-33%);
}
.sucessful .container .row .steps-box:nth-of-type(3) {
  transform: translateX(35%);
}
.sucessful .container .row .steps-box:nth-of-type(4) {
  transform: translateX(0%);
}
.sucessful .row {
  text-align: center;
}
.sucessful h2 {
  padding-bottom: 32px;
}
.sucessful button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

section.opportunity-option {
  background-size: cover;
  background-repeat: no-repeat;
}

.Auretics-apna .container .chart {
  text-align: center;
}
.opportunity-option .slick-list {
  margin: 0px -20px;
}
.opportunity-option .slick-slide {
  padding: 0px 20px;
}

.Auretics-apna .apna-icon-area .row:not(:first-child) {
  margin-top: 100px;
}
.Auretics-apna .apna-icon-area .row .apna-business-icon .image-inner {
  position: relative;
}
.Auretics-apna .apna-icon-area .row {
  position: relative;
}
.Auretics-apna .apna-icon-area .row .apna-business-icon .image-inner::before {
  content: "";
  width: 110%;
  height: 2px;
  background-color: #ffa41b;
  position: absolute;
  top: 50%;
  z-index: -9;
}
.Auretics-apna .apna-icon-area .row .apna-business-icon .last .image-inner::before {
  width: 0;
}
.Auretics-apna .apna-icon-area .row .apna-business-icon .last .image-inner::after {
  width: 0;
}
.Auretics-apna .apna-icon-area .row .apna-business-icon .image-inner::after {
  content: "";
  position: absolute;
  z-index: -9;
  width: 13px;
  height: 22px;
  top: 39%;
  right: 30%;
  background-image: url(../images/arrow.svg);
}
/* .Auretics-apna  .row:not(:first-child) .apna-business-icon:last-child::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffa41b;
    position: absolute;
    top: 30%;
    z-index: -9;
} */
.Auretics-apna
  .apna-icon-area
  .row.flex-row-reverse
  .apna-business-icon
  .image-inner::after {
  rotate: 180deg;
  top: 40%;
}
.Auretics-apna .row:nth-child(odd).border-on::before {
  content: "";
  width: 2px;
  height: calc(100% + 99px);
  background-color: #ffa41b;
  position: absolute;
  top: 52px;
  right: -12px;
}
.Auretics-apna .row:nth-child(even).border-on::before {
  content: "";
  width: 2px;
  height: calc(100% + 100px);
  background-color: #ffa41b;
  position: absolute;
  top: 24%;
  left: -12px;
}
.Auretics-apna
 .apna-icon-area
  .row:nth-child(even)
  .apna-business-icon:last-child .last
  .image-inner::before {
  content: "";
  width: 121%;
  height: 2px;
  background-color: #ffa41b;
  right: -27px;
  top: 50px;
  position: absolute;
}

.Auretics-apna
 .apna-icon-area
  .row:nth-child(odd):not(:first-child)
  .apna-business-icon:first-child
  .image-inner::before {
  content: "";
  width: 121%;
  height: 2px;
  background-color: #ffa41b;
  right: -27px;
  top: 50px;
  position: absolute;
}
.Auretics-apna
 .apna-icon-area
  .row:nth-child(odd):not(:first-child)
  .apna-business-icon:first-child .last
  .image-inner::before {
  width: 35px;
  left:-23px;
}
.Auretics-apna
 .apna-icon-area
  .row:nth-child(odd):not(:first-child)
  .apna-business-icon:first-child .last
  .image-inner::after {
  width: 0px;
}
.Auretics-apna
 .apna-icon-area .row .end .image-inner::after{
     content:"";
     width: 0;
     position: absolute;
 }
.apna-business-icon p {
  color: #ffa41b;
}
.mob-apna-business .row:nth-child(2) .col-6 {
  margin-bottom: 32px;
}
.opportunity-option ul li button {
  text-indent: -9999px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: none;
  background: #ffa41b;
  border: 2px solid #ffa41b;
}
.opportunity-option .slick-dots {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.opportunity-option ul li:not(:last-child) {
  margin-right: 10px;
}
.opportunity-option ul li.slick-active button {
  background: #fff;
  border: 2px solid #ffa41b;
}

.apna-business-icon {
  width: 20%;
}
.apna-business-icon .img h6 {
  padding: 8px 0px;
}
.apna-business-icon img::before {
  content: "";
}
.more-rewards h6 {
  padding: 16px 0px 8px 0;
}
.more-rewards p {
  color: #ffa41b;
}
.img-time h6 {
  padding: 16px 0px 8px 0px;
}
.img-time p {
  color: #ffa41b;
}
.mob-apna-business {
  display: none;
}
.organization .col-md-3 {
  margin-bottom: 50px;
}
.organize-img img {
  transition: all 0.3s;
}
.organize-img img {
  width: 100%;
}
.wrapper-team {
  position: relative;
  width: 90%;
  margin-top: -50px;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
  transition: 0.3s ease all;
  margin-bottom: 25px;
  overflow: hidden;
  height: 150px;
  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.organize-wrap {
  text-align: center;
}
.organize-wrap h6 {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffa41b;
  margin-top: 16px;
  padding: 0px 20px;
}
.organize-wrap p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  padding: 0px 20px;
}
.on-mobile {
  display: none;
}
.organization .col-md-3 {
  margin-bottom: 50px;
}

.organization ul li button {
  text-indent: -9999px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: none;
  background: #ffa41b;
  border: 2px solid #ffa41b;
}
.organization ul li:not(:last-child) {
  margin-right: 10px;
}
.organization .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.four-data-box h3{
  font-size: 18px;
}
