.btn {
  border: 1px solid #ffa41b;
  color: #ffa41b;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  background: #fff;
}
.buttons-pillar button{
  border: 1px solid #ffa41b;
  color: #ffa41b;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  background: #fff;
}
.btn:hover {
  background-color: #ffa41b;
  color: #fff;
}
.buttons-pillar ul li button{
  border: 1px solid #ffa41b;
  color: #ffa41b;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  background: #fff;
}
.buttons-pillar ul li button:hover{
  background-color: #ffa41b;
  color: #fff;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #ffa41b;
}
.buttons-pillar .nav-pills .nav-link{
  border-radius: 50px;
  border: 1px solid #FFA41B;
}
.buttons-pillar ul li{
  margin-bottom: 24px;
  margin-right: 10px;
}
.buttons-pillar .col-md-4 a img{
border: 1px solid #000;
    margin-bottom: 20px;
}



