/* @font-face {
  font-family: 'ebrima';
  src: url('ebrima.woff');
} */

@font-face {
  font-family: 'ebrima';
  font-style: normal;
  font-weight: 400;
  src: local('ebrima Regular'), url('../fonts/ebrima.woff') format('woff');
}
.banner p.transform {
  text-transform: uppercase;
}
/* .about-company-profile h2 {
  padding-bottom: 25px;
} */
.heading-auretics-list h3 {
  font-family: 'ebrima';
  font-weight: 600;
  font-size: 136px;
  line-height: 144px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #000000;
  font-style: italic;
  transform: skewX(6deg);
}
.assurance-list {
  background: #fff8f0;
  border-radius: 4px;
  padding: 16px 16px;
  margin-bottom: 24px;
}
.assurance-list h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #ffa41b;
}
.auretics-excellence {
  height: 440px;
  color: #fff;
  padding: 85px 0px;
}
.auretics-excellence .tab-content ul li{
    line-height:30px;
    font-family: "Lato";
    font-style: normal;
}
.auretics-excellence h5 span {
  color: #ffa41b;
}
.Who-we-are h2 {
  padding: 16px 0px 0px;
}
.Who-we-are span {
  padding-right: 16px;
}
.boost-one {
  padding: 32px 24px;
  margin-bottom: 27px;
  border: 1px solid #d9d9d9;
  border-radius: 50px 0px 0px 0px;
  position: relative;
}
.boost-one h5{
    color: #000000;
    font-weight: 600;
}
.boost-one:hover {
  background: #ffa41b;
  color:#fff;
  transition: .2s ease-in;
}
.boost-one:hover p{
    color:#fff;
}
.boost-one:hover h5{
    color:#fff;
}
.three-freedom-tabs button{
    text-align: start;
}
.three-freedom-tabs .nav-tabs .nav-link.active , .three-freedom-tabs .nav-tabs .nav-link:hover {
    border:none;
}
.nav-tabs .nav-link{
    border:none;
}
.nav-link:focus, .nav-link:hover{
    border:none;
}
.nav-tabs{
    border:none;
}
.mission-all{
    height: 100%;
}
.mission-all nav{
    height: 100%;
}
.mission-all .nav-tabs{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
.mission-all button{
    flex: 1;
    width: 100%;
}
.mission-all button {
        background-color:none;
    border-color:none;
}
.mission-all .nav-tabs .nav-link.active {
    color: #fff;
    background-color:transparent!important;
    border-color:transparent!important;
}
.mission-all .nav-tabs .nav-link{
    border-right: 3px solid #fff!important;
}
.mission-all .nav-tabs .nav-link.active{
    border-right: 3px solid #ffa41b!important;
}
.mission-all nav .nav-tabs .nav-link h4{
    color:#fff;
}
.mission-all nav .nav-tabs .nav-link.active h4{
    color: #ffa41b;
}
.spreading p{
padding-top:12px;
}
.finger-block img{
  height: 436px;
}
.spread-not{
  color: #FFA41B;
}
.finger-block img{
  width: 100%;
}
.our-mission-tab button h4{
  font-size: 12px;
  margin: 0px;
  font-family:'lato';

}
.our-mission-tab .nav-tabs button{
  border: 1px solid #FFA41B;
  border-radius: 16px;
  text-align: center;
  margin-right: 12px;
  color:#FFA41B;
}
.our-mission-tab .nav-tabs .nav-link.active{
  border: 1px solid #FFA41B;
  color: #FFA41B;
}
.our-mission-tab .nav-tabs{
  text-align: center;
  justify-content: center;
}
.vision-tab{
  padding: 20px;
    margin-top: 16px;
    color:#fff;
    height: 362px;
    background-repeat: no-repeat;
    background-size: cover;
}
.spreading p{
  display: flex;
  align-items: center;
}
.our-mission-tab .nav-tabs .nav-link:active{
  border: 1px solid #FFA41B;
    color: #FFA41B;
}
.vision-tab ul li{
  font-size: 12px;

  line-height: 20px;
  padding-bottom: 8px;

  list-style: disc;
}
.vision-tab ul{
  padding-left: 1rem;
}
.vision-tab  h5 span{
  color:#FFA41B;
}
.vision-tab h5{
  font-size: 18px;
  padding-bottom: 16px;
}
.our-mission-tab .nav-tabs button:active{
  background-color: #ffa41b;
  color:#fff;
}
.our-mission-tab .nav-tabs .nav-link:hover{
  background-color: #ffa41b;
  color:#fff;
  border-color: #ffa41b;
}
.heading-mision-values{
  padding-bottom: 16px;
}
section.mission-values{
  padding-top:0px;
  padding-bottom: 0px;
}
.three-freedom-tabs{
  padding-top:24px;
}
.Empower-people .tab-content img{
margin-top:32px;
}

.boost-orange{
  position: absolute;
  top: 36%;
  right: -22px;
  display: none;
}
.boost-one:hover .boost-orange{
  display: block;
}
 .three-freedom-tabs .nav-tabs .nav-link.active .boost-one{
  /* background: linear-gradient( 90deg, rgba(255, 164, 27, 0.8) 0%, rgba(255, 96, 0, 0.5) 97.84% ); */
  cursor: pointer;
  background: #ffa41c;
}
/* .Empower-people .three-freedom-tabs .nav-tabs .nav-link.active .boost-one h5 , p{
  color:#fff;
} */
.three-freedom-tabs .nav-tabs .nav-link.active .boost-one:active .boost-orange {
  display: block;
}
.auretics-excellence .row .col-md-8 .tab-content .tab-pane {
  min-height: 276px;
}
.Empower-people .row .col-lg-7 .tab-content .tab-pane img:last-child {
  display: none;
}
.auretics-carrer-build{
  background: #FFF8F0;
  margin:40px 0px;
}
.auretics-carrer-build h3{
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 40px;
  line-height: 32px;

}
.user-icon{
  text-align: center;
}
.user-icon h6{
  padding:16px 0px;
  font-weight: 600;
  font-size: 18px;
  min-height: 75px;

}
.user-icon img{
  text-align: center;
  margin: 0 auto;
}
.Empower-people .three-freedom-tabs button.nav-link.active h5 , .Empower-people .three-freedom-tabs button.nav-link.active p{
color:#fff;
}
.Empower-people .three-freedom-tabs button.nav-link.active .boost-one .boost-orange{
  display: block;
}
.auretics-carrer-build p{
  min-height:130px;
}

.auretics-excellence ul li{
  list-style:disc;
}

