.contact-form textarea {
    width: 100%;
    padding: 16px 16px 80px 24px;
}

.gap-form {
    gap: 12px;
}

.contact-form .form-fields {
    margin-bottom: 0px;
    /* padding-right: 0; */
}

.contact-form input.contact-submit {
    background: #ffa41b;
    border-radius: 4px;
    width: 100%;
    padding: 16px 16px;
    border: none;
    margin-top: 30px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #000;
}

/* .main-page-contact p {
    padding-right: 0;
} */

.contact-form .form-control {
    color: #B6B6B6;
}

.contact-form .form-control:focus {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}

.contact-form textarea {
    color: #fff;
}

.wpcf7-response-output {
    color: #fff;
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
    display: none;
}
.contact-form input.contact-submit:hover{
    border:1px solid #ffa41b;
    color:#fff;
    background:transparent;

}
.contact-form input.contact-submit{
    border:1px solid #ffa41b;

}