span.blog-news {
  color: #ffa41b;
  border-bottom: 2px solid #ffa41b;
}
.blogs .blog-post {
  transition: 0.3s ease-in all;
  overflow: hidden;
  /* border-radius: 0 0 30px 30px; */
}
.blogs .blog-post img {
  transition: 0.3s ease-in all;
}
.blogs .blog-post:hover img {
  transform: scale(1.2);
}
.blogs .blog-wrapper {
  position: relative;
  width: 92%;
  height: 125px;
  background-color: #fff !important;
  margin-top: -50px;
  z-index: 999;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease all;
  margin-bottom: 25px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.blogs .blog-wrapper:hover .blog-inner {
  transform: translateY(-50px);
}
.blog-inner {
  padding: 25px;
  padding-top: 20px;
  transition: 0.4s ease-in all;
}
.blogs .blog-wrapper:hover p.date {
  color: #253640;
}
.blogs .blog-wrapper p.date {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  transition: 0.3s ease all;
  font-weight: 500;
  line-height: 24px;
  font-family: "Poppins";
  font-style: normal;
  color: #000000;
}
svg:not(:host).svg-inline--fa,
svg:not(:root).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}
.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.blogs .blog-wrapper p.blog-content {
  margin-bottom: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;

  font-size: 20px;
  line-height: 24px;

  color: #000000;
}
.blogs .blog-wrapper:hover p.read-more {
  display: block;
}
.blogs .blog-wrapper p.read-more {
  color: #ffa41b;
  font-size: 16px;
  line-height: 24px;
  font-family: barlow, sans-serif;
  font-weight: 600;
  text-decoration: underline;
}
.blogs .blog-wrapper p.read-more {
  transition: 0.3s ease all;
}
.mutual-calendar {
  justify-content: space-between;
}
