@media(max-width:1440px){
  .right-fast-content h2::after {
    content: "";
    background: #ffa41b;
    transform: rotate(-180deg);
    width: 84px;
    height: 6px;
    position: absolute;
    top: 16px;
    right: 4%;
}
.products-data span{
  font-size: 14px;
}
.discover-category h6{
  font-size: 26px;
}
.testimonial h3{
  font-size: 14px;
}
.sucessful .container .row .steps-box:nth-of-type(2){
  transform: translateX(-26%);
}
.organize-wrap p{
  font-size: 14px;
}
.organize-wrap p{
  font-size: 12px;
}
.wrapper-team{
  width: 92%;
}
.organize-wrap h6{
  font-size: 16px;
}
}

@media (max-width: 1199px) {
  .faq h2 {
    width: 52%;
  }

  h1 {
    font-size: 34px;
    line-height: 58px;
  }

  .blogs .blog-wrapper {
    width: 85%;
  }

  .procedure h2.pt-5 {
    font-size: 26px;
    line-height: 34px;
  }

  .navbar-collapse ul li a {
    font-size: 14px;
  }

  header ul li {
    padding: 0px 14px;
  }

  .profile .join-today p {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 16px;
    padding-top: 16px;
  }

  .profile h2 {
    font-size: 22px;
    line-height: 40px;
  }

  .join-today {
    height: 397px;
  }

  p.join-para {
    min-height: 176px;
  }

  .opportunity .text-center p br {
    display: none;
  }

  .compensation ul li {
    font-size: 14px;
  }

  .sucessful .container .row .col-md-6:nth-of-type(1) {
    transform: translateX(-17%);
  }

  .sucessful .container .row .col-md-6:nth-of-type(2) {
    transform: translateX(-31%);
  }

  .sucessful .container .row .col-md-6:nth-of-type(3) {
    transform: translateX(15%);
  }

  .sucessful .container .row .col-md-6:nth-of-type(4) {
    transform: translateX(0%);
  }

  .opportunity-option p br {
    display: none;
  }

  .double-box .four-data-box h3 {
    font-size: 16px;
  }

  .auretics-excellence .tab-content ul li {
    line-height: 22px;
  }

  .spreading p {
    padding-top: 0px;
    font-size: 16px;
  }

  .Who-we-are h2 {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .assurance-list {
    height: 154px;
  }

  .limited-image img {
    width: 80%;
  }

  .limited-image {
    text-align: center;
  }

  .about-company-profile {
    margin: 50px;
    padding: 0px 45px;
  }

  .auretics-list-items {
    padding-top: 0px;
  }

  .financial-freedom h2 {
    font-size: 22px;
  }

  .para-fundamental p {
    font-size: 16px;
  }

  .boost-one {
    margin-bottom: 0px;
  }

  .boost-one h5 {
    font-size: 20px;
  }

  .arjun-views {
    width: 100%;
  }

  .on-mobile {
    display: block;
  }

  .on-desktop {
    display: none;
  }

  .organize-img {
    padding-right: 20px;
  }

  .stories p {
    font-size: 12px;
    line-height: 20px;
  }

  .everywhere h2 {
    font-size: 25px;
  }

  .boss-content h3 {
    font-size: 20px;
    line-height: 26px;
  }

  .boss-content p br {
    display: none;
  }

  .desktop-content .ct-list-item {
    display: none;
  }

  .Empower-people .row .col-lg-7 .tab-content .tab-pane img:last-child {
    display: block;
    width: 100%;
  }

  .Empower-people .row .col-lg-7 .tab-content .tab-pane img:first-child {
    display: none;
  }

  section.opportunity-option {
    background-size: 100% 375vh;
    background-repeat: no-repeat;
  }

  .ct-image-box .ct-list-item {
    display: none;
  }

  .mobile-content .ct-list-item {
    flex-direction: unset;
  }

  .desktop-content {
    display: none;
  }

  .mobile-content {
    display: block;
  }

  .mob-thing-img {
    display: block;
    position: relative;
  }

  .eight-things .row:nth-child(2) {
    position: relative;
  }

  .mob-thing-img img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -23%);
    width: 50%;
  }

  .ct-list-item {
    padding-bottom: 15px;
  }

  .mobile-content {
    display: block;
    padding-top: 200px;
  }

  .discover-category p {
    font-size: 14px;
  }

  .img h3 span {
    font-size: 18px;
  }

  .discover-category-range p {
    height: 90px;
  }

  .right-fast-content h2::after {
    right: 44%;
    top: 60px;
  }

  .compensation {
    height: 315px;
  }

  .Auretics-apna {
    display: none;
  }

  .mob-apna-business {
    display: block;
  }

  .Auretics-apna .row:nth-child(even)::before {
    background-color: none;
  }

  .eight-things {
    height: 700px;
  }

  .testimonial h3 {
    height: 75px;
  }

  .product-categories .discover-category p {
    min-height: 70px;
  }

  .right-fast-content {
    padding: 40px 54px;
  }

  .auretics-limited a {
    margin-top: 26px;
    display: inline-block;
  }

  .profile .join-today {
    height: 413px;
  }

  .finger-block img {
    height: 392px;
  }

  .auretics-carrer-build p {
    min-height: 182px;
  }
}

@media (max-width: 991px) {
  .faq h2 {
    width: 70%;
  }

  .heading-business p br {
    display: none;
  }
  .procedure p br {
    display: none;
  }
  .blogs .blog-wrapper {
    width: 285px;
  }
  .finger-block p,
  .finger-block h2 {
    text-align: center;
  }
  .spread-not {
    text-align: center;
  }
  .financial-freedom h2 {
    text-align: center;
  }

  .procedure h2.pt-5 {
    font-size: 20px;
    line-height: 34px;
  }

  header .navbar-brand img {
    height: 60px;
  }

  header #navbarSupportedContent {
    position: absolute;
    left: -110vw;
    top: 0px;
    width: 100%;
    height: unset;
    display: block;
    background-size: cover;
    z-index: 1;
    padding: 0px 0px;
    transition: all 0.45s;
    border-radius: 0px;
  }

  .nav-menu {
    background: #ffa41b;
  }

  .nav-menu li {
    padding: 20px;
  }

  li.become-member {
    margin-left: 0px;
    margin-top: 20px;
  }

  header ul li.become-member a {
    border: 1px solid #fff;
  }

  #close-btn {
    display: none;
  }

  .nav-menu {
    padding-top: 24%;
    height: 1200px;
  }

  .navbar-collapse ul li a {
    font-size: 40px;
  }

  header ul li.become-member a {
    font-size: 30px;
  }

  #close-btn .navbar-toggler-icon svg {
    color: #000;
    background: #fff;
    border-radius: 50%;
    padding: 6px 10px;
  }

  header button.navbar-toggler {
    display: block;
  }

  header .row .nav-menu {
    display: block !important;
  }

  header .row .nav-menu li {
    text-align: center;
  }

  #close-btn .navbar-toggler-icon svg {
    padding: 8px 14px;
    font-size: 50px;
  }

  .header .gt-translate {
    text-align: center;
    margin-top: 10px;
  }

  .navbar-brand {
    display: block;
    width: 100%;
    display: block;
    text-align: center;
  }

  .join-today p {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 17px;
  }

  .testimonial-one {
    min-height: 100%;
  }

  .profile h2 {
    font-size: 18px;
    line-height: 27px;
  }

  .profile .join-today {
    height: 317px;
    padding: 25px 25px 80px 100px;
  }

  .compensation .all-compensation h2 {
    font-size: 24px;
  }

  .sucessful button {
    font-size: 14px;
  }

  .four-data-box {
    padding: 50px 20px 13px 20px;
    height: 250px;
  }

  .heading-auretics-list h3 {
    font-size: 100px;
  }

  .financial-freedom h2 {
    font-size: 22px;
  }

  .assurance-list p {
    font-size: 14px;
  }

  .mission-all nav {
    height: 100%;
  }

  .auretics-excellence ul li {
    font-size: 14px;
  }

  .auretics-excellence h5 {
    font-size: 16px;
  }

  .mission-all .nav-link {
    padding: 0px;
  }

  .finger-block img {
    height: 400px;
    object-fit: cover;
  }

  .Who-we-are h2 {
    padding-top: 0px;
  }

  .boost-one h5,
  p {
    font-size: 16px;
  }

  .assurance-list {
    margin-bottom: 16px;
  }

  .arjun-img {
    text-align: center;
  }

  .arjun-views {
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .officer-team p::before {
    top: 42px;
  }

  .team-padding {
    padding-top: 30px;
  }

  .organize-img {
    padding-right: 20px;
  }

  .ct-list-item {
    padding-bottom: 38px;
  }

  .ct-list-content {
    font-size: 14px;
    line-height: 22px;
    width: 88%;
  }

  .ct-list-number {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  /* product-slider */
  .products ul li button {
    /* text-indent: -9999px; */
    font-size: 0;
    border-radius: 50%;
    width: 16px !important;
    height: 16px !important;
    border: none;
    background: #ffa41b;
    border: 2px solid #ffa41b;
    margin-top: 20px;
  }

  .products ul li:not(:last-child) {
    margin-right: 10px;
  }

  .products .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .products ul li.slick-active button {
    background: #fff;
    border: 2px solid #ffa41b;
  }

  /* testimonial-slider */
  .testimonial ul li button {
    /* text-indent: -9999px; */
    font-size: 0;
    border-radius: 50%;
    width: 16px !important;
    height: 16px !important;
    border: none;
    background: #ffa41b;
    border: 2px solid #ffa41b;
    margin-top: 20px;
  }

  .testimonial ul li:not(:last-child) {
    margin-right: 10px;
  }

  .testimonial .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .testimonial ul li.slick-active button {
    background: #fff;
    border: 2px solid #ffa41b;
  }

  .heading-business h1 {
    line-height: 60px;
    font-size: 32px;
  }

  .boss-content h3 br {
    display: none;
  }

  .boss-content {
    height: 350px;
  }

  .orange-blank-bg {
    width: 100%;
  }

  .discover-category h6 {
    height: 70px;
  }

  /* .discover-category p{
  height: 160px;
} */
  .right-fast-content h2::after {
    right: 24%;
  }

  .compensation {
    height: 354px;
  }

  .Auretics-apna {
    display: none;
  }
  .business-class {
    padding-top: 0px;
  }
  .business-class p {
    font-size: 12px;
  }
  .more-rewards {
    padding: 0px;
  }
  .mob-apna-business {
    display: block;
  }

  .discover-category {
    text-align: center;
  }

  .Who-we-are .row {
    flex-direction: column-reverse;
  }

  .spreading {
    padding-top: 20px;
  }

  .auretics-carrer-build h3 {
    font-size: 20px;
  }
  header {
    padding-top: 0px;
  }
}

@media (max-width: 767px) {

  header li.drop-down ul.sub-menu{
    transition: .2s ease-in all;
    display: none;
  }
  header li.drop-down ul.sub-menu.show-sub-menu{
    transition: .2s ease-in all;
    display: block;
  }
  .blogs .blog-wrapper {
    height: auto;
    width: 310px;
  }
  .navbar-brand {
    display: block;
    width: 100%;
    display: block;
    text-align: right;
  }
  /* header li.drop-down:hover ul.sub-menu {
    display: block;
  } */

  ul.sub-menu {
    position: relative;
    left: 0;
    transform: translateX(-5%);
  }
  .testimonial-popup-video button.mfp-close {
    right: -20px;
  }
  .procedure h2 br {
    display: none;
  }
  .buttons-pillar ul {
    margin-bottom: 0px !important;
  }
  .form-home {
    padding: 0px 0px;
  }
  section.opportunity-option {
    background-size: 100% 530vh;
  }

  .banner-logo {
    margin-top: 0px;
  }

  blogs .blog-wrapper {
    width: 300px;
    margin-left: 18px;
  }

  .faq h2 {
    width: 70%;
  }

  .blog-inner {
    padding: 12px;
    transition: 0.4s ease-in all;
  }

  .blogs .blog-wrapper p.blog-content {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .blogs .blog-wrapper p.read-more {
    margin-bottom: 0;
  }

  header button.navbar-toggler {
    display: block;
  }

  header .row .collapse:not(.show) {
    display: none;
  }

  header {
    background: rgba(0, 0, 0, 0.4);
  }

  .testimonial-box .img p {
    min-height: 100%;
  }

  .testimonial-box .img p br {
    display: none;
  }

  .testimonial-box .testimonial-one .author p span:last-child {
    font-size: 12px;
  }

  .testimonial-box .img .author span:first-child {
    font-size: 14px;
    line-height: 22px;
  }

  .testimonial-box h3 span {
    font-size: 16px;
    line-height: 24px;
  }

  .testimonial-box .img .author span {
    padding: 2px 0;
  }

  .profile .row {
    margin: 0px;
  }

  section.profile {
    padding: 0;
  }

  section.profile .container-fluid {
    padding: 0;
  }

  section.profile .container-fluid .row .col-md-7 {
    padding: 0;
  }

  .testimonial-one .img img {
    height: 37px;
  }

  .profile .profile-image .d-none {
    display: none !important;
  }

  .profile .profile-image .m-block {
    display: block !important;
  }

  .heading-auretics-list h3 {
    font-size: 48px;
  }

  .about-company-profile {
    padding: 0px;
    margin: 0px;
  }

  .about-company-profile h2 {
    padding-bottom: 16px;
  }

  .auretics-list-items {
    padding-top: 0px;
  }

  .limited-image img {
    width: 100%;
  }

  .about-company-profile {
    padding-top: 24px;
  }

  .heading-auretics-list h3 {
    line-height: 56px;
  }

  .spreading p {
    font-size: 16px;
  }

  .auretics-excellence ul li {
    font-size: 14px;
  }

  .auretics-excellence {
    padding: 50px 0px;
  }

  .finger-block {
    padding-top: 42px;
    padding-bottom: 16px;
  }

  .Empower-people {
    padding-top: 0px;
  }

  .Who-we-are .col-md-8 {
    order: 2;
  }

  .Who-we-are .col-md-4 {
    order: 1;
  }

  .boost-one {
    background: linear-gradient(
      90deg,
      rgba(255, 164, 27, 0.8) 0%,
      rgba(255, 96, 0, 0.5) 97.84%
    );
    border: #ffa41b;
  }

  section.Who-we-are {
    padding-top: 0px;
  }

  #empower-row {
    flex-direction: column-reverse;
  }

  .border-none.pb-3 {
    font-size: 14px;
  }

  .team-para p {
    text-align: center;
    font-size: 12px;
  }

  .focus-team {
    text-align: center;
  }

  .arjun-views {
    width: 100%;
  }

  .officer-team p::before {
    top: 35px;
  }

  .officer-team .explore {
    padding-top: 24px;
  }

  .officer-team h3 {
    font-size: 24px;
    line-height: 0px;
    padding: 16px 0px;
  }

  .arjun-font p {
    font-size: 12px;
  }

  .social-team {
    padding-top: 16px;
  }

  .qualifications h4 {
    padding-bottom: 0px;
  }

  .qualifications ul li span {
    font-size: 24px;
  }

  .qualifications ul li {
    font-size: 12px;
    line-height: 20px;
  }

  section.execuitive-officer {
    padding-top: 0px;
  }

  .management-team p {
    font-size: 12px;
  }

  .management-team p br {
    display: none;
  }

  .management-team {
    text-align: center;
  }

  .on-mobile {
    display: block;
  }

  .on-desktop {
    display: none;
  }

  .Empower-people .row {
    margin: 0;
  }

  .boss-content h3 {
    font-size: 16px;
    line-height: 29px;
  }

  .boss-content p br {
    display: none;
  }

  .growth .row:nth-child(3) {
    flex-direction: column-reverse;
  }

  .discover-category {
    margin-bottom: 30px;
  }

  .everywhere h2 {
    font-size: 18px;
  }

  .img-time p {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #ffa41b;
  }

  .img-time h6 {
    padding-top: 12px;
    font-size: 12px;
  }

  .compensation .content-box {
    padding-left: 30px;
  }

  .compensation {
    height: 476px;
  }

  .blogs .blog-wrapper p.blog-content {
    font-size: 20px;
    line-height: 28px;
  }

  .Empower-people .row #empower-row {
    flex-direction: column-reverse;
  }
  .three-freedom-tabs button {
    padding-left: 0;
  }
  .vision-tab {
    height: 420px;
  }

  .ct-list-item {
    flex-direction: row;
    padding-bottom: 16px;
  }

  .ct-image-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    padding: 0px 10px;
  }

  .ct-list-number {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .ct-list-content {
    font-size: 14px;
  }

  /* .mobile-content {
    margin-left: 12px;
  } */
  .auretics-carrer-build p {
    padding: 0px 14px;
  }

  /* second-section */
  .back-one-color {
    border-radius: 0px 0px 0px 50px;
  }

  .boss-content {
    padding: 32px 20px;
    height: 224px;
  }

  .discover-category {
    text-align: center;
  }

  .growth .container {
    padding: 0px 20px;
  }

  .discover-category-range p {
    padding-bottom: 10px;
  }

  .range-3 p br {
    display: none;
  }

  section.banner {
    height: 400px;
  }

  .banner h1 {
    font-size: 24px;
    line-height: 32px;
    padding-top: 50px;
    margin-bottom: 12px;
  }

  .banner-logo {
    margin-top: 100px;
  }

  .home-business p {
    padding-bottom: 12px;
  }

  .banner-logo img {
    width: 76px;
  }

  /* third */
  .right-fast-content {
    padding: 140px 0px 0px 0px;
  }

  .fastest {
    bottom: -112px;
    display: block !important;
    text-align: center;
  }

  .fastest img {
    padding: 0;
  }

  .orange-blank-bg {
    width: 100%;
    left: 0px;
  }

  .fast-content h3 {
    font-size: 16px;
    line-height: 25px;
  }

  .fast-content p {
    font-size: 12px;
  }

  .fast-content p br {
    display: none;
  }

  .right-fast-content h2::after {
    top: 150px;
    right: 16%;
  }

  .discover-category p {
    height: 0px;
    padding-bottom: 60px;
  }

  .discover-category-range p {
    height: 75px;
  }

  .discover-category h6 {
    height: 40px;
    font-size: 20px;
    line-height: 28px;
  }

  .mobile-content {
    padding-top: 0px;
  }

  .mobile-space:nth-child(3) {
    padding-top: 200px;
  }

  .mob-thing-img img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -96%);
    width: 50%;
  }

  .eight-things {
    height: 830px;
  }

  .banner p {
    font-size: 14px;
    line-height: 24px;
  }
  .heading-business h1 span {
    font-size: 24px;
  }
  .blogs {
    padding-top: 0px;
  }
  .blogs .blog-wrapper p.date {
    font-size: 12px;
  }
  .blogs .blog-wrapper p.read-more {
    font-size: 14px;
  }
  .procedure {
    padding-top: 24px;
  }
  .procedure h2.pt-5 {
    font-size: 20px;
    line-height: 28px;
    padding-top: 32px !important;
  }
  .procedure {
    padding-bottom: 24px;
  }
  .blogs .blog {
    margin: 0 0px;
  }
  .blogs .blog-wrapper {
    height: auto;
    width: 94%;
  }
  .product-categories .discover-category-slider .discover-category p {
    min-height: 60px;
  }
  .more-rewards .row {
    justify-content: space-around !important;
  }
  .more-rewards .row p {
    font-size: 12px;
  }
  .organize-img {
    padding: 0px;
  }
  .opportunity .text-center p.para {
    margin: 16px 16px;
  }
  .explore {
    font-size: 12px;
  }
  .compensation .all-compensation h2 {
    font-size: 22px;
  }
  .compensation .content-box ul li,
  .compensation .content-box p {
    font-size: 14px;
  }
  .sucessful h2 {
    padding-bottom: 10px;
  }

  .product-categories .discover-category-slider .discover-category p {
    min-height: 60px;
  }
  .procedure p {
    font-size: 14px;
  }
  .more-rewards .row {
    justify-content: space-around !important;
  }

  .more-rewards .row p {
    font-size: 12px;
  }

  .organize-img {
    padding: 0px;
  }
  .author span img {
    height: 60px !important;
  }
  .marque-slider ul li {
    font-size: 16px;
  }
  .marquee-line .slick-slide {
    width: 270px !important;
  }
  .marque-slider .slick-slide img {
    display: block;
    width: 35px;
  }

  .buttons-pillar ul li button {
    padding: 10px 8px;
    font-size: 12px;
  }
  .buttons-pillar ul li {
    margin-bottom: 4px;
  }
  /* .discover-category-slider ul li{
  width:16px!important;
} */
  ul.slick-dots button {
    width: 16px !important;
  }
  .user-icon h6 {
    min-height: 0px;
    padding: 8px 0px;
  }
  .user-icon {
    height: 250px;
  }
}

@media (max-width: 575px) {
  .done {
    width: 100%;
  }

  /* .boss img {
    border-radius: 0px 0px 0px 50px;
  } */

  .banner p br {
    display: none;
  }

  section h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .faq h2 {
    width: 88%;
  }

  .accordion-header button {
    font-size: 14px;
  }

  .navbar-collapse ul li a {
    font-size: 16px;
  }

  header ul li.become-member a {
    font-size: 16px;
  }

  header .row .nav-menu li {
    text-align: start;
  }

  #close-btn .navbar-toggler-icon svg {
    padding: 8px 12px;
    font-size: 25px;
  }

  .blogs .blog-wrapper {
    height: auto;
    width: 86%;
  }

  .testimonial-slider button.prev-arrow {
    left: -7px;
    top: 31%;
    z-index: 99;
  }

  .testimonial-slider button.next-arrow {
    right: -7px;
    top: 31%;
    z-index: 99;
  }
  .heading-business h1 br {
    display: none;
  }

  .sucessful .container .row .col-md-6:nth-of-type(1) {
    transform: translateX(0%);
  }

  .sucessful .container .row .col-md-6:nth-of-type(2) {
    transform: translateX(0%);
  }

  .sucessful .container .row .col-md-6:nth-of-type(3) {
    transform: translateX(0%);
  }

  .sucessful .container .row .col-md-6:nth-of-type(4) {
    transform: translateX(0%);
  }

  .double-box {
    margin-top: 12px;
  }

  .profile .join-today {
    padding: 16px 16px 40px 16px;
    height: 100%;
  }

  .join-today {
    padding: 0px 40px;
  }

  .display-block {
    display: none;
  }

  .mobile-block {
    display: block;
  }

  footer .copyright.footer-main {
    padding-top: 0;
    padding-bottom: 0;
  }

  footer .copyright.footer-main .mobile-block.mobile-margin {
    margin-top: 24px;
  }

  footer .footer-main .mobile-block {
    padding-bottom: 24px;
  }

  .section-footer .title {
    font-size: 14px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #f8ae21;
  }

  section.growth .background-color:nth-child(3) {
    flex-direction: column;
    border-bottom-left-radius: 50px;
  }

  .category-slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .category-slider ul li button {
    /* text-indent: -9999px; */
    font-size: 0;
    border-radius: 50%;
    width: 16px !important;
    height: 16px !important;
    border: none;
    background: #ffa41b;
    border: 2px solid #ffa41b;
    margin-top: 20px;
  }

  .blog-slider ul li button {
    font-size: 0;
    border-radius: 50%;
    width: 16px !important;
    height: 16px !important;
    border: none;
    background: #ffa41b;
    border: 2px solid #ffa41b;
    margin-top: 20px;
  }

  .category-slider ul li:not(:last-child) {
    margin-right: 10px;
  }
  .buttons-pillar .tab-pane col-md-4 img {
    padding-bottom: 10px;
  }
  .buttons-pillar {
    padding: 10px 0px 40px 0px;
  }

  .category-slider ul li.slick-active button {
    background: #fff;
    border: 2px solid #ffa41b;
  }

  .discover-category-slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .discover-category-slider ul li button {
    /* text-indent: -9999px; */
    font-size: 0;
    border-radius: 50%;
    /* width: 16px!important; */
    height: 16px !important;
    border: none;
    background: #ffa41b;
    border: 2px solid #ffa41b;
    margin-top: 20px;
  }

  .discover-category-slider ul li:not(:last-child) {
    margin-right: 10px;
  }

  .discover-category-slider ul li.slick-active button {
    background: #fff;
    border: 2px solid #ffa41b;
  }
  .marque-slider ul li {
    font-size: 16px;
  }
  .marquee-line .slick-slide {
    width: 270px !important;
  }
  .marque-slider .slick-slide img {
    display: block;
    width: 50px;
  }
  .buttons-pillar .container .row .col-md-4 img {
    padding-top: 10px;
  }
}
@media (max-width: 400px) {
  .right-fast-content h2::after {
    top: 152px;
    right: 8%;
  }
  /* .marque-slider ul li{
  font-size: 12px;
}
.marque-slider ul li span img{
width:40px;
} */
}

@media (max-width: 360px) {
  .fastest {
    bottom: -200px;
  }
  .right-fast-content {
    margin-top: 100px;
  }
  .right-fast-content h2::after {
    top: 152px;
    right: 0%;
  }
}
