.management-team span .blog-news {
  border-bottom: transparent;
}
.arjun-views {
  background: #ffa41b;
  border-radius: 10px;
  padding: 20px 80px 20px 20px;
  width: 416px;
  height: 141px;
  left: 0px;

}
.arjun-views p {
  padding-top: 14px;
  color: #fff;
}
.officer-team .explore {
  text-transform: uppercase;
}
.officer-team h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: capitalize;
  color: #323232;
  padding: 24px 0px;
}
.social-team {
  padding-bottom: 24px;
}
.social-team a{
  padding-right: 16px;
}
.qualifications h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 42px;
  padding: 24px 0px 16px;
  text-transform: capitalize;

  color: #323232;
}
.qualifications ul li span {
  color: #ffa41b;
  padding-right: 8px;
}
.qualifications ul li {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 42px;
  color: #000000;
}
.officer-team {
  position: relative;
}
.team-padding {
  padding-left: 65px;
}
.officer-team p::before {
  content: "";
  width: 56px;
  height: 0px;
  border: 2px solid #ffa41b;
  transform: rotate(0deg);
  display: block;
  position: absolute;
  left: 0%;
  top: 12px;
}
.organize-img img {
  width: 100%;
}
.wrapper-team {
  position: relative;
  width: 75%;
  margin-top: -50px;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
  transition: 0.3s ease all;
  margin-bottom: 25px;
  overflow: hidden;
  height: 156px;
  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.organize-wrap{
  text-align: center;
}
.organize-wrap p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    padding: 0px 20px;
}

.organize-wrap h6 {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffa41b;
  margin-top: 16px;
}

.organization .col-md-3{
    margin-bottom: 50px;
}
.qualifications ul li span{
    font-size: 24px;
}

.organization  ul li button{
  text-indent: -9999px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: none;
  background: #ffa41b;
  border: 2px solid #ffa41b;

}
.organization .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
}
.organization ul li.slick-active button {
  background: #fff;
  border: 2px solid #ffa41b;
}
.organization ul li:not(:last-child) {
  margin-right: 10px;
}
.on-mobile{
  display: none;
}
.focus-team p{
 padding-top:20px;
}

.execuitive-officer .row{
    padding: 45px  0;
}

.execuitive-officer .row:nth-child(2) {
  flex-direction: row-reverse;
}
.organize-img:hover img{
  transform: scale(1.1);
  opacity: 1;
  cursor: pointer;
}
.organize-img img{
  transition: all 0.3s; 
}
.arjun-img img{
  width: 100%;
}